<section>
  <div id="hot" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <%= render partial: "data_slide", collection: hot_albums_tracks %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <%= render partial: "hot_carousel", collection: hot_albums_tracks,
        as: :hot %>
    </div>

    <a class="carousel-control-prev" href="#hot"
      role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>

    <a class="carousel-control-next" href="#hot"
      role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</section>
